body {
    margin: auto 0;
    
}

.card-comp-container {
    margin: 60px 0;
    padding: 3em;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-width: 15px;
}

a {
    text-decoration: none;
    color: black;
}
