* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.details-container {
    font-family: monospace;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}

.prop-wrapper {
    margin: 20px;
    margin-top: 80px;
}

.buttonEl {
    grid-column: 4;
}

.btn-header {
    grid-column: 4;
    margin: 60px;
}

.price-prop {
    font-size: 1.5em;
    grid-column: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.prop-breadcrumb {
    grid-row: 2;
    grid-column: 1;
}

.prop-title {
    font-size: 1.3em;
    font-weight: bold;
}

hr {
    margin: 30px;
}