.card_content-wrapper {
    display: flex;
    flex-direction: row;
    width: 370px;
    margin-top: 30px;
}

/* Card Style */

.icon {
    margin-left: 10px;
    margin-right: 10px;
}
.cardEl {
    position: relative;
}


.cardImg{
    display: block;
    width: 100%;
}

.heartIcon {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}

.heartIcon:hover {
    color: red;
}