.HeaderNav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: goldenrod;
    height: 60px;
    align-items: center;
}

.Header__title {
    padding: 25px;
}

.Header__list-item {
    list-style: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.Header__list {
    display: flex;
    align-items: center;
}


.link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.logout-btn {
    margin-right: 40px;
    border: none;
    padding-top: 20px;
    background-color: goldenrod;;
}

.lastItem {
    font-size: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.p-text {
    font-weight: 700;
    margin-right: 20px;
}