.HeaderNav__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #6d6875;
    height: 70px;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.HeaderNav__container button {
    margin-right: 1.5rem;
}

.Header__title {
    padding: 25px;
    font-size: 2em;
}

.Header__list-item {
    list-style: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.Header__list {
    display: flex;
    align-items: center;
}


.link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.logout-btn {
    margin-right: 40px;
    background-color: #6d6875;
}

.lastItem {
    font-size: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.p-text {
    font-weight: 700;
    margin-right: 20px;
    font-size: larger;
}
.link{
    
    text-decoration: none;
}

.menu-btn {
    display: none;
}

@media only screen and (max-width: 850px) {
    .Header__title {
        font-size: 30px;
    }
}

@media only screen and (max-width: 650px) {
    .menu-btn {
        display: flex;
    }

}
