.HeaderNav__container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #ffff;
	align-items: center;
	z-index: 1000;
	height: 70px;
    width: 100%;
	top: 0;
}

.HeaderNav__container button {
	margin-right: 1.5rem;
}

.Header__title {
	padding: 25px;
	font-size: 2em;
}

.navbar-brand {
	font-size: 30px;
}

.nav-links {
	height: 0;
	overflow: hidden;
	line-height: 50px;
}

.show-nav {
	margin-top: 370px;
	height: 300px;
	width: 300px;
	background-color: rgb(212, 214, 214);
}
.Header__list-item {
	list-style: none;
	padding: 10px 15px;
	display: flex;
	align-items: center;
}

.Header__list {
	display: flex;
	align-items: center;
}

.link {
	text-decoration: none;
	color: rgb(39, 37, 37);
	cursor: pointer;
}

.logout-btn {
	margin-right: 40px;
	background-color: #6d6875;
}

.lastItem {
	font-size: 20px;
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
}

.p-text {
	font-weight: 700;
	margin-right: 20px;
	font-size: larger;
}
.link {
	text-decoration: none;
}

.menu-btn {
	display: none;
}

#close .hiddenLinks {
	display: none;
}
.flex-column {
	display: flex;
	flex-direction: column;
}
#open .hiddenLinks {
	display: flex;
	flex-direction: column;
	background-color: white;
	color: black;
	height: 500px;
	width: 100px;
	justify-content: center;
	padding: 100px;
	margin-top: 380px;
	align-items: center;
	align-content: flex-end;
}

.HeaderNav__list-items {
	display: flex;
}

.svg {
	width: 30px;
	margin-right: 30px;
}

.HeaderNav__list-items li {
	display: flex;
	justify-content: space-between;
	margin-left: 25px;
}

.loginBtn {
	display: flex;
	justify-content: flex-end;
}

.svg {
	background-color: transparent;
	border: none;
}

.auth-name {
	font-size: 30px;
	color: #fff;
	border-radius: 50%;
	background-color: pink;
	text-align: center;
	width: 50px;
	padding: 10px;
}

.modal-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 200%;
	width: 500px;
}

.modal_image {
	height: 100%;
}

.navbar {
	background-color: black;
}

@media only screen and (min-width: 851px) {
	.Header__title {
		font-size: 30px;
	}
	.show-nav .nav-links {
		display: none;
	}
	.svg {
		display: none;
	}
}

@media only screen and (max-width: 850px) {
	.Header__title {
		font-size: 30px;
	}
}

@media only screen and (max-width: 850px) {
	.HeaderNav__list-items li {
		display: none;
	}
}
