* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header__container {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    width: 100%;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.Header__container:before {
    content: '';
    background-image: url('../../assets/images/r-architecture-2gDwlIim3Uw-unsplash.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.inputEL {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    padding-left: 20px;

}

.input {
    display: flex;
    background-color: #fff;
    color: #333;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 4px;
    border-radius: 8px;
}

.Header__container .Header__container-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 1rem;
    font-size: 3.5rem;
}

.formEl {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.searchBtn {
    display: flex;
    align-items: center;
    background-image:linear-gradient(45deg, #5651e5 0%, #709dff 100%);
    border: 1px solid #5651e5;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}


@media only screen and (min-width: 320px) and (max-width: 479px) {
    .input-container {
        width: 20rem;
    }

    .input {
        width: 40rem;
    }
}

@media screen and (max-width: 940px) {
    .Header__container {
        height: 90vh;       
    }

    .Header__container-title {
        font-size: 2.5rem;
    }

    .search input[type=text] {
        width: 100%;
    }
}
