.Header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url('../../assets/images/r-architecture-khpWE85ge38-unsplash.jpeg');
    background-position: bottom;
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 500px;
    width: 100vw;
    overflow: hidden;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-position:bottom;
}

.inputEL {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: auto 0;
    padding-left: 20px;
}

.input-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    .input-container {
        width: 20rem;
    }

    .input {
        width: 40rem;
    }
}
