.footer-container {
    height: 5rem;
    width: 100vw;
    background-color: rgb(165, 42, 42);
    bottom: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    color: black;
}    

