/*  sign-in form styles */
.rightside-form,
.loginform-container {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: Center;
	align-items: center;
}

.loginform {
	display: flex;
	flex-direction: column;
	justify-content: Center;
	align-items: center;
	padding: 30px;
}

.left-form {
	display: flex;
	flex-direction: column;
}

/* .signInBtn {
	width: 230px;
	height: 50px;
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
    background-color: rgb(225, 225, 36);
    border: none;
    letter-spacing: 1px;
} */



.signInBtn {
  min-width: 167px;
  height: 44px;
  color: #fff;
  padding: 14px 14px 14px 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 2px solid #adb5bd;
  background: #adb5bd;
  text-align: center;
}
.signInBtn:hover {
  background: #fff;
  color: #adb5bd
}



.cancelBtn {
  min-width: 167px;
  height: 40px;
  color: #adb5bd;
  padding: 14px 14px 14px 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  background: #fff;
  text-align: center;
}

.cancelBtn:hover {
  background: #adb5bd;
  border: 2px solid #adb5bd;
  color: #fff;
}

.upperLeft__title {
	top: 0;
	padding-bottom: 50px;
}

.inputEl {
	margin-bottom: 40px;
	height: 50px;
	width: 450px;
	padding: 20px;
}

.button-controls {
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 20px;
}

/* sign-up form styles */

.name-inputEl {
	margin-bottom: 45px;
	height: 50px;
	width: 450px;
	padding: 20px;
}

.googleBtn {
	background-color: transparent;
    font-size: 16px;
    letter-spacing: 2px;
    border: 1px solid #cccc;
	width: 300px;
	height: 60px;
    padding: 12px 20px 12px 20px;
    margin: auto;
}

.googleBtn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}